.progress-pane {
    width: 66%;
    float: left;
    display: inline-block;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
	bottom: 0;
	left:0;
	text-align: center;
	height:100vh;
    z-index:1;
    position: absolute;
    
    h2 {
        padding-top: 4rem;
    }
    
    .picture-choice {
        display: inline-block;
        padding-top: 1rem;
        
        img {
            width: 9rem;
            height: 9rem;
            padding: 0 1rem 0 1rem;
        }
        
        .add-print-buttons {
            width: 9rem;
            padding: 0 1rem 0 1rem;
        
            .add-print-button {
                display: inline-block;
                width: 47%;
                text-transform: none;
                font-size: 0.8rem;
                
                &:first-child {
                    float:left;
                }
            
                &:last-child {
                    float:right;
                }
            }
        }
    }
}