@import './colours.scss';

.queued-pane {
    width: 34%;
    float: right;
    display: inline-block;
    margin: 0;
    padding: 0;
	text-align: center;
    overflow-y: scroll;
	background-color: $lighter-grey;
	top: 3.6rem;
	bottom: 0;
	right:0;
	position: absolute;
	
	.queued-pane-queue {
        width: 100%;
        overflow-y: scroll;
        bottom: 0;
        right: 0;
        top: 7rem;
        position: absolute;
	    background-color: $lightest-grey;
	}
	    
	.queued-picture-size {
        display: block;
        margin: 1rem;
        background-color: $lighter-grey;
        
        h3 {
            line-height: 1.2rem;
            color: $darkest-grey;
        }
    }
	
	.queued-picture {
        margin-left:2rem;
        padding-right:2rem;
        text-align: left;
        display: block;
        clear: both;
	    height: 5.5rem;
        
	    img {
	        height: 5rem;
	        float: left;
	        padding: 0rem 0.7rem 0.7rem 0rem;
	    }
	    
	    .queued-picture-title {
	        font-weight: bold;
	        display: block;
	        margin-bottom: 1rem;
	    }
	    
	    .queued-picture-change {
	        display: inline-block;
	        line-height: 0.1rem;
	        font-size: 0.5rem;
	        font-weight: bold;
	        
	        &:first-of-type {
	            margin-right: 0.8rem;
	        }
	        
	        &:last-of-type {
	            margin-left: 0.8rem;
	        }
	    }
	    
	    .queued-picture-number {
	        display:inline;
	    }
	}
	
	button {
	    clear: both;
	    
	    &.cancel-printing {
	        background-color: $red;
	       
	        &:hover {
	            background-color: $dark-red;
	        }
    
            &:active {
                background-color: $darker-red;
            }
    
            &:disabled {
                background-color: $red;
            }
	    }
	    &.start-printing {
	        background-color: $green;
	       
	        &:hover {
	            background-color: $dark-green;
	        }
    
            &:active {
                background-color: $darker-green;
            }
    
            &:disabled {
                background-color: $green;
            }
	    }
	}
}